[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
joblib = "*"
scikit-learn = "==1.2.2"
seaborn = "*"
dsutils = {editable = true, path = "./../dsutils"}
mlxtend = "*"
pyyaml = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
